body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #427E81, #010400);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
}

#app {
  width: 100%;
  max-width: 400px;
  background-color: #010400;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container h2 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0 30px 0;
}

.todo-container h2 {
  margin-bottom: 20px;
}

#todo-text {
  margin-bottom: 10px;
}

#register-form input:nth-of-type(2),
#login-form input:nth-of-type(2) {
  margin-top: 20px;
}


input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
}

button {
  margin-top: 20px;
  width: 100%;
  transition: background-color 0.3s eade;
  padding: 12px;
  background-color: #62BBC1;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #62BBC1;
}

a {
  color: #62BBC1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.hidden {
  display: none;
}

#todo-container {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #FFFBFC;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  display: flex;
  align-items: center;
  width: auto;
  background-color: #012827;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 14px;
}

li span {
  flex: 1;
  word-break: break-word;
}

li button:hover {
  background-color: #032625;
}
